/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pos.zip
meta-pos.zip
genuinepos.zip
genuine-pos.zip
pos-master.zip
pos-dev.zip
/vendor
composer.lock
storage/debugbar
/public/uploads
packages
public/modules