:root {
    --red-color-gradient: linear-gradient(#8c0437ee, #1e000d);
    --red-color-1: #7e0d3d;
    --red-color-2: #5d1b3f;

    --blue-color-gradient: linear-gradient(#036dad 0%, #29b0fd 100%);
    --blue-color-1: #29b0fd;
    --blue-color-2: #036dad;

    --dark-color-gradient: linear-gradient(#444444, #0a0b0c);
    --dark-color-1: #0d3850;
    --dark-color-2: #0a0b0c;

    --light-color-gradient: linear-gradient(#e1e1e1, #989898);
    --light-color-1: #c4c4c4;
    --light-color-2: #989898;

    --white-color: #fff;
    --black-color: rgb(41, 41, 41);
    --black-color-1: rgb(71, 71, 71);
}

/*================= Color pallete  ===================*/
.color_change_wrapper {
    position: fixed;
    right: 6px;
    bottom: 40px;
    z-index: 999;
}

.color_change_wrapper ul {
    display: flex;
    justify-content: space-between;
    column-gap: 3px;
}

.color_change_wrapper li {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid;
    box-shadow: 1px 2px 4px #161616ad;
}

.color_change_wrapper li.red {
    background: var(--red-color-gradient);
}

.color_change_wrapper li.blue {
    background: var(--blue-color-gradient);
}

.color_change_wrapper li.dark {
    background: #18242e;
}

.color_change_wrapper li.light {
    background: #c8c8c8;
}

/*================= Color pallete end ===================*/

/* =================Red theme =====================  */
body.red-theme {
    background: #eef0f8 !important;
}

.red-theme .pos-body {
    border: 1px solid #3b1127;
    background: linear-gradient(#dedede, #444444);
}

.red-theme .head-pos {
    border-bottom: 1px solid #3a1026;
}

.red-theme .pos-btn {
    border: 2px solid #fff;
    color: #fff;
}

.red-theme nav.pos-navigation {
    background: var(--red-color-gradient);
}

.red-theme .date {
    border: 1px solid #fff;
    color: #fff;
}

.red-theme .left-cat-pos {
    background: linear-gradient(#dedede, #444444);
    border: 1px solid #6f5a5a !important;
}

.red-theme .pos-footer {
    background: var(--red-color-gradient);
}

.red-theme .cat-button {
    background: linear-gradient(#00aebd, #273245);
    color: #fff;
}

.red-theme .cat-button:hover {
    background: linear-gradient(#273245, #00aebd);
    color: #fff;
}

.red-theme .product-inner {
    background: #fff;
    border: 1px solid #46142e;
}

.red-theme .show-product {
    background: linear-gradient(#dedede, #444444);
    border: 1px solid #3f1229;
}

.red-theme .product {
    background: #f7f7f7;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.red-theme .product-ctn .product-name {
    color: var(--title-color);
    background: #ddd;
}

.red-theme .product-name a {
    color: #000;
}

.red-theme .cart-table {
    border: 1px solid #3d1128;
    background: linear-gradient(#dedede, #444444);
}

.red-theme .cart-table-inner-pos {
    background: #fff;
    border: 1px solid #43132d;
}

.red-theme .tbl-head {
    border-bottom: 2px solid #000;
}

.red-theme .data_preloader {
    background: white;
    color: black;
}

.red-theme .sub-total-input {
    background: linear-gradient(#00aebd, #273245);
}

.red-theme .pos-right-inner {
    border: 1px solid #3d1128;
    background: linear-gradient(#dedede, #444444);
}

.red-theme .check-out-woaper {
    background: linear-gradient(#00aebd, #273245);
    border: 1px solid #43132d;
}

.red-theme .resent-tn {
    color: #fff;
    background: #2e30a0;
}
/* =================Red theme end=====================  */

/* =================Blue theme==========================  */
body.blue-theme {
    background: #eef0f8 !important;
}
/* =================Blue theme end=========================  */

/* =================Dark theme =======================  */
body.dark-theme {
    background: #eef0f8 !important;
}
/* =================Dark theme end =======================  */

/* =================Light theme =======================  */
body.light-theme {
    background: var(--light-color-1) !important;
}
/* =================Light theme end=======================  */
