:root {
    --red-color-gradient: linear-gradient(#8c0437ee, #1e000d);
    --red-color-1: #7e0d3d;
    --red-color-2: #5d1b3f;
    --blue-color-gradient: linear-gradient(#036dad 0%, #29b0fd 100%);
    /* --blue-color-gradient: -webkit-linear-gradient(
        top,
        #036dad 0%,
        #29b0fd 100%
    ); */
    --blue-color-1: #29b0fd;
    --blue-color-2: #036dad;
}

/*================= Color pallete  ===================*/
.color_change_wrapper {
    position: fixed;
    right: 6px;
    bottom: 40px;
    z-index: 999;
}

.color_change_wrapper ul {
    display: flex;
    justify-content: space-between;
    column-gap: 3px;
}

.color_change_wrapper li {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.color_change_wrapper li.red {
    background: var(--red-color-gradient);
}

.color_change_wrapper li.blue {
    background: var(--blue-color-gradient);
}

.color_change_wrapper li.dark {
    background: #18242e;
}

.color_change_wrapper li.ash {
    background: #c8c8c8;
}

/* =================Red theme==========================  */
body.red-theme {
    background: #eef0f8 !important;
}

.red-theme .main-woaper {
    background: #fdfdfd;
}

.red-theme .bg-color-body {
    background: #eef0f8;
}

.red-theme footer {
    background: var(--red-color-gradient);
}

.red-theme .main__nav {
    background: var(--red-color-1);
}

.red-theme .main__nav ul li {
    background: var(--red-color-gradient);
    border-right: 1px solid var(--red-color-2);
}

.red-theme .main__nav ul li a {
    color: #fff;
}

.red-theme .main__nav li:hover {
    background: #fff !important;
}

.red-theme .main__nav ul li.menu_active a p.title {
    color: var(--red-color-2);
}

.red-theme .main__nav li:hover a p.title {
    color: var(--red-color-1);
}

.red-theme .menu_active {
    background: #fff !important;
}

.red-theme .main__nav ul li a:hover {
    color: var(--main-color-alt);
}

.red-theme .sub-menu_t {
    background: #fff;
}

.red-theme .bg-secondary-2 {
    background: linear-gradient(#fff, #f1f1f1) !important;
}

.red-theme .switch_bar i {
    color: var(--red-color-2);
}

.red-theme .switch_bar {
    border: 1px solid #ccc5c5;
    background: #fff;
    box-shadow: inset 0 0 5px#ddd;
}

.red-theme .table-title {
    color: var(--red-color-1);
}

.red-theme .card {
    border: 1px solid var(--red-color-1);
}

.red-theme a.bar-link {
    border: 1px solid #d2cfcf;
    background: #f9f9f9 !important;
    box-shadow: inset 0 0 5px#ddd;
}

.red-theme .panel__nav {
    background: var(--red-color-gradient);
}

.red-theme .top-icon {
    border: var(--red-color-1) 2px solid;
    background: var(--red-color-2);
}

.red-theme .top-icon:hover {
    border: 2px solid #ffffff;
}

.red-theme ul.head__cn li a {
    color: #ffffff;
}

.red-theme .select-dropdown select {
    background-color: var(--red-color-2);
}

.red-theme .button-group__btn:first-child .button-group__label {
    border-left: 1px solid #fff;
}

.red-theme input:checked + .button-group__label {
    background-color: var(--red-color-1);
    border-bottom-color: #fff;
    border-top-color: #fff;
    color: #fff;
}

.red-theme .button-group__label {
    background-color: var(--red-color-1);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
}

.red-theme .button-group__btn:first-child input:checked + .button-group__label {
    border-left-color: #fff;
}

.red-theme .button-group__btn:last-child input:checked + .button-group__label {
    border-right-color: #fff;
}

.red-theme .form_element {
    border: 1px solid #adadad;
    background: #f9f9f9;
}

.red-theme .section-header {
    background: linear-gradient(#fff, #f1f1f1);
}

.red-theme .sec-name {
    background: #ffffff;
    box-shadow: 1px 3px 7px 0px #80797942;
}

.red-theme .tab_list_area ul li a {
    color: white !important;
    border-bottom: 1px solid lightgray !important;
    background: -webkit-linear-gradient(
        top,
        var(--red-color-1) 0%,
        var(--red-color-1) 50%,
        var(--red-color-2) 51%,
        var(--red-color-2) 100%
    ) !important;
    border-right: 2px solid white !important;
}

.red-theme .tab_active {
    border-bottom: 0 solid white !important;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 2px solid var(--red-color-1);
    background: white !important;
    color: black !important;
}

.red-theme table.display tbody tr:hover {
    background: var(--red-color-1) !important;
    color: #fff;
}

.red-theme .tab_list_area ul li a:hover {
    border-bottom: 1px solid white;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 2px solid var(--red-color-1);
}

.red-theme .item-details-sec {
    background: var(--red-color-gradient);
}

.red-theme .btn-primary {
    background: var(--red-color-2) !important;
}

.red-theme .btn-primary:hover {
    background: var(--red-color-2) !important;
}

.red-theme .btn-info {
    color: #000;
    background-color: var(--red-color-1);
    border-color: var(--red-color-1);
}

.red-theme .btn_30_blue a {
    border: var(--red-color-2) 1px solid;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 80%), inset 0 1px 1px -1px #fff;
    -moz-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.8),
        inset 0 1px 1px -1px #fff;
    -webkit-box-shadow: 0px 0px 2px rgb(0 0 0 / 80%), inset 0 1px 1px -1px #fff;
    text-shadow: 0px -1px 0px rgb(0 0 0 / 50%),
        0px 1px 0px rgb(255 255 255 / 20%);
    color: #fff;
    background: -webkit-linear-gradient(
        top,
        var(--red-color-1) 0%,
        var(--red-color-1) 50%,
        var(--red-color-2) 51%,
        var(--red-color-2) 100%
    );
}

.red-theme .btn_30_blue a:hover {
    border: var(--red-color-2) 1px solid;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 80%), inset 0 1px 1px 1px #fff;
    -moz-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.8),
        inset 0 1px 1px -1px #fff;
    -webkit-box-shadow: 0px 0px 2px rgb(0 0 0 / 80%), inset 0 1px 1px -1px #fff;
    text-shadow: 0px -1px 0px rgb(0 0 0 / 50%),
        0px 1px 0px rgb(255 255 255 / 20%);
    color: #fff;
    background: -webkit-linear-gradient(
        top,
        var(--red-color-1) 0%,
        var(--red-color-1) 50%,
        var(--red-color-2) 51%,
        var(--red-color-2) 100%
    );
}

/* =================Blue theme==========================  */
body.blue-theme {
    background: #eef0f8 !important;
}

.blue-theme .main-woaper {
    background: #fdfdfd;
}

.blue-theme .bg-color-body {
    background: #eef0f8;
}

.blue-theme footer {
    background: var(--blue-color-gradient);
}

.blue-theme .main__nav {
    background: var(--blue-color-2);
}

.blue-theme .main__nav ul li {
    background: var(--blue-color-gradient);
    border-right: 1px solid var(--blue-color-2);
}

.blue-theme .main__nav ul li a {
    color: #fff;
}

.blue-theme .main__nav li:hover {
    background: #fff !important;
}

.blue-theme .main__nav ul li.menu_active a p.title {
    color: var(--blue-color-2);
}

.blue-theme .main__nav li:hover a p.title {
    color: var(--blue-color-1);
}

.blue-theme .menu_active {
    background: #fff !important;
}

.blue-theme .main__nav ul li a:hover {
    color: var(--main-color-alt);
}

.blue-theme .sub-menu_t {
    background: #fff;
}

.blue-theme .bg-secondary-2 {
    background: linear-gradient(#fff, #f1f1f1) !important;
}

.blue-theme .switch_bar i {
    color: var(--blue-color-2);
}

.blue-theme .switch_bar {
    border: 1px solid #ccc5c5;
    background: #fff;
    box-shadow: inset 0 0 5px#ddd;
}

.blue-theme .table-title {
    color: var(--blue-color-1);
}

.blue-theme .card {
    border: 1px solid var(--blue-color-1);
}

.blue-theme a.bar-link {
    border: 1px solid #d2cfcf;
    background: #f9f9f9 !important;
    box-shadow: inset 0 0 5px#ddd;
}

.blue-theme .panel__nav {
    background: var(--blue-color-gradient);
}

.blue-theme .top-icon {
    border: var(--blue-color-1) 2px solid;
    background: var(--blue-color-2);
}

.blue-theme .top-icon:hover {
    border: 2px solid #ffffff;
}

.blue-theme ul.head__cn li a {
    color: #ffffff;
}

.blue-theme .select-dropdown select {
    background-color: var(--blue-color-2);
}

.blue-theme .button-group__btn:first-child .button-group__label {
    border-left: 1px solid #fff;
}

.blue-theme input:checked + .button-group__label {
    background-color: var(--blue-color-1);
    border-bottom-color: #fff;
    border-top-color: #fff;
    color: #fff;
}

.blue-theme .button-group__label {
    background-color: var(--blue-color-1);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
}

.blue-theme
    .button-group__btn:first-child
    input:checked
    + .button-group__label {
    border-left-color: #fff;
}

.blue-theme .button-group__btn:last-child input:checked + .button-group__label {
    border-right-color: #fff;
}

.blue-theme .form_element {
    border: 1px solid #adadad;
    background: #f9f9f9;
}

.blue-theme .section-header {
    background: linear-gradient(#fff, #f1f1f1);
}

.blue-theme .sec-name {
    background: #ffffff;
    box-shadow: 1px 3px 7px 0px #80797942;
}

.blue-theme .tab_list_area ul li a {
    color: white !important;
    border-bottom: 1px solid lightgray !important;
    background: -webkit-linear-gradient(
        top,
        var(--blue-color-1) 0%,
        var(--blue-color-1) 50%,
        var(--blue-color-2) 51%,
        var(--blue-color-2) 100%
    ) !important;
    border-right: 2px solid white !important;
}

.blue-theme .tab_active {
    border-bottom: 0 solid white !important;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 2px solid var(--blue-color-1);
    background: white !important;
    color: black !important;
}

.blue-theme table.display tbody tr:hover {
    background: var(--blue-color-1) !important;
    color: #fff;
}

.blue-theme .tab_list_area ul li a:hover {
    border-bottom: 1px solid white;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 2px solid var(--blue-color-1);
}

.blue-theme .item-details-sec {
    background: var(--blue-color-gradient);
}

.blue-theme .btn-primary {
    background: var(--blue-color-2) !important;
}

.blue-theme .btn-primary:hover {
    background: var(--blue-color-2) !important;
}

.blue-theme .btn-info {
    color: #000;
    background-color: var(--blue-color-1);
    border-color: var(--blue-color-1);
}

.blue-theme .btn_30_blue a {
    border: var(--blue-color-2) 1px solid;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 80%), inset 0 1px 1px -1px #fff;
    -moz-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.8),
        inset 0 1px 1px -1px #fff;
    -webkit-box-shadow: 0px 0px 2px rgb(0 0 0 / 80%), inset 0 1px 1px -1px #fff;
    text-shadow: 0px -1px 0px rgb(0 0 0 / 50%),
        0px 1px 0px rgb(255 255 255 / 20%);
    color: #fff;
    background: -webkit-linear-gradient(
        top,
        var(--blue-color-1) 0%,
        var(--blue-color-1) 50%,
        var(--blue-color-2) 51%,
        var(--blue-color-2) 100%
    );
}

.blue-theme .btn_30_blue a:hover {
    border: var(--blue-color-2) 1px solid;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 80%), inset 0 1px 1px 1px #fff;
    -moz-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.8),
        inset 0 1px 1px -1px #fff;
    -webkit-box-shadow: 0px 0px 2px rgb(0 0 0 / 80%), inset 0 1px 1px -1px #fff;
    text-shadow: 0px -1px 0px rgb(0 0 0 / 50%),
        0px 1px 0px rgb(255 255 255 / 20%);
    color: #fff;
    background: -webkit-linear-gradient(
        top,
        var(--blue-color-1) 0%,
        var(--blue-color-1) 50%,
        var(--blue-color-2) 51%,
        var(--blue-color-2) 100%
    );
}
